html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

h1,
h2,
p {
  text-align: center;
  color: white;
  margin: 0.3rem 0;
}

img {
  width: 100px;
  height: auto;
}
