body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(180deg, #113ccf 0%, #071b69 100%);
  color: #fff;
  font-family: "Poppins", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 20px;
}

h1 {
  margin-top: 40px;
  margin-bottom: 16px;
  font-size: 32px;
  font-family: "Lemon", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #bff5fd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

canvas {
  display: block;
  margin: 0 auto 80px auto;
  border-radius: 8px;
}

button {
  margin: 12px;
  margin-bottom: 24px;
  background-color: #bff5fd;
  padding: 1em;
  border-radius: 16px;
  border: none;
}

footer {
  margin-top: 40px;
  color: #b0c8ff;
  font-size: 14px;
}

p,
a,
button {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
